@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Navigation Bar */
.header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__name {
  font-size: 20px;
  color: #272643;
}
.header__name--last {
  font-weight: bold;
}
.header__list {
  width: 40vw;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list--group {
  display: none;
}
.header__list--item {
  text-decoration: none;
  font-size: 18px;
  color: #8C9CB1;
}
.header__list--button {
  font-size: 16px;
  font-weight: bold;
  width: 145px;
  height: 45px;
  left: 1429px;
  top: 47px;
  background: #BAE8E8;
  border: 1px solid #272643;
  border-radius: 10px;
  cursor: pointer;
}

/* Main Text Styling */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  /* About Section */
}
.main__headline {
  min-width: 95%;
  height: 862px;
  background-color: #F7FAFA;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__headline--introduction {
  font-size: 32px;
  color: #8C9CB1;
}
.main__headline--title {
  font-size: 64px;
  width: 65vw;
  text-align: center;
  color: #272643;
}
.main__headline--button {
  width: 321px;
  height: 78px;
  left: 699px;
  top: 690px;
  font-size: 18px;
  background: #A3E1DE;
  border: none;
  font-weight: bold;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.74);
  border-radius: 7px;
}
.main__skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 146px;
}
.main__skills--title {
  font-size: 32px;
  color: #272643;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #BAE8E8 50%);
  text-align: center;
}
.main__skills--description {
  color: #8C9CB1;
  font-size: 16px;
  width: 484px;
  height: 52px;
  text-align: center;
  line-height: 160%;
  font-weight: 400;
}
.main__skills__logos {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  list-style: none;
}
.main__skills__logos--items {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #8C9CB1;
}
.main__skills--projects {
  margin-top: 200px;
  margin-bottom: 110px;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #272643;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #BAE8E8 50%);
}
.main .project {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 80px;
  column-gap: 40px;
}
.main .project__card {
  width: 440px;
  height: 590px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .project__card--image {
  width: 440px;
  height: 326px;
  background-color: #E3F6F5;
}
.main .project__card--tech {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #BAE8E8;
}
.main .project__card--title {
  margin-top: -25px;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  color: #272643;
}
.main .project__card--description {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #8C9CB1;
}
.main .project__card__links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}
.main .project__card__links--item {
  text-decoration: none;
  font-size: 18px;
  color: #272643;
}
.main .about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 180px;
  column-gap: 100px;
}
.main .about__text {
  width: 757px;
}
.main .about__text--title {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin: 52px 0;
}
.main .about__text--description {
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #8C9CB1;
}
.main .about__image {
  border-radius: 50%;
  width: 40%;
  height: 40%;
}

.footer {
  background-color: #272643;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer--email {
  color: white;
  margin-left: 10vw;
}
.footer__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 10vw;
  gap: 30px;
}
.footer__list--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #A3E1DE;
}

@media only screen and (max-width: 1024px) {
  .about {
    flex-wrap: wrap;
  }
  .about__text {
    text-align: justify;
  }
  .about__text--title {
    text-align: center;
  }

  .header {
    justify-content: space-around;
  }
  .header__list {
    width: auto;
  }
  .header__list--group {
    display: contents;
    background-color: white;
    color: #272643;
    border: none;
    cursor: pointer;
  }
  .header__list--button {
    display: none;
  }
  .header__list--item {
    display: none;
  }

  .main__headline--introduction {
    font-size: 20px;
  }

  .main__headline--title {
    text-align: left;
    width: auto;
    margin-left: 20px;
  }
  .main__headline--title--underline {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #BAE8E8 50%);
  }
}