@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

/* Navigation Bar */
.header {
  background-color: white;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__name {
  font-size: 1.25rem;
  color: #272643;
}
.header__name--last {
  font-weight: bold;
}
.header__list {
  width: 40vw;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list--group {
  display: none;
}
.header__list--item {
  text-decoration: none;
  font-size: 1.125rem;
  color: #8C9CB1;
}
.header__list--button {
  font-size: 1rem;
  font-weight: bold;
  width: 9rem;
  height: 2.81rem;
  background: #BAE8E8;
  border: 1px solid #272643;
  border-radius: 2rem;
  cursor: pointer;
}
.header__list--button:active {
  transform: scale(0.98);
}

/* Main Text Section */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Skills Section */
}
.main__headline {
  width: 95%;
  height: 90vh;
  background-color: #F7FAFA;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__headline--introduction {
  font-size: 2rem;
  color: #8C9CB1;
}
.main__headline--title {
  font-size: 3rem;
  width: 65vw;
  color: #272643;
  text-align: center;
}
.main__headline--underline {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #BAE8E8 50%);
}
.main__headline--button {
  width: 20rem;
  height: 4.87rem;
  left: 43.7rem;
  top: 43.1rem;
  font-size: 1.125rem;
  background: #A3E1DE;
  border: none;
  font-weight: bold;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.74);
  border-radius: 0.43rem;
  cursor: pointer;
}
.main__headline--button:active {
  transform: scale(0.99);
}
.main__skills {
  width: 100%;
  gap: 3.75rem;
  margin-top: 9.12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__skills--title {
  font-size: 2rem;
  color: #272643;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #BAE8E8 50%);
  text-align: center;
}
.main__skills--description {
  color: #8C9CB1;
  font-size: 1rem;
  width: 35%;
  line-height: 160%;
  font-weight: 400;
  text-align: center;
}
.main__skills--projects {
  margin-top: 12.5rem;
  margin-bottom: 6.87rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.43rem;
  color: #272643;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #BAE8E8 50%);
}
.main__logos {
  gap: 4.37rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main__logos--items {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.18rem;
  color: #8C9CB1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

/* Projects Section */
.project {
  max-width: 100vw;
  width: 90%;
  gap: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.project__links {
  width: 60%;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}
.project__links--item {
  text-decoration: none;
  font-size: 1.12rem;
  color: #272643;
}
.project__card {
  width: 27.5rem;
  height: 36.87rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s ease-out;
}
.project__card--image {
  max-width: 27.5rem;
  width: 100%;
  height: 20.37rem;
  background-color: #E3F6F5;
}
.project__card--tech {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.18rem;
  color: #BAE8E8;
}
.project__card--title {
  font-weight: 600;
  font-size: 38px;
  line-height: 2.87rem;
  color: #272643;
}
.project__card--description {
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 160%;
  color: #8C9CB1;
}

.project__card:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in;
}

/* About Section */
.about {
  width: 80vw;
  margin: 11.25rem;
  column-gap: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__text {
  width: 47.31rem;
}
.about__text--title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.62rem;
  margin: 3.25rem 0;
}
.about__text--description {
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 180%;
  color: #8C9CB1;
}
.about__image {
  border-radius: 50%;
  width: 35%;
  height: 35%;
  transition: 0.3s ease-out;
}
.about__image:hover {
  transform: scale(0.9);
  transition: 0.3s ease-in;
}

.footer {
  background-color: #272643;
  width: 100%;
  height: 9.35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer--email {
  color: white;
  margin-left: 10vw;
}
.footer__list {
  margin-right: 10vw;
  gap: 1.87rem;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.footer__list--link {
  width: 2.81rem;
  height: 2.81rem;
  border-radius: 50%;
  background-color: #A3E1DE;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .about {
    flex-wrap: wrap;
  }
  .about__text {
    text-align: justify;
  }
  .about__text--title {
    text-align: center;
  }

  .header {
    justify-content: space-around;
  }
  .header__list {
    width: auto;
  }
  .header__list--group {
    display: contents;
    background-color: white;
    color: #272643;
    border: none;
    cursor: pointer;
  }
  .header__list--button {
    display: none;
  }
  .header__list--item {
    display: none;
  }

  .main__headline {
    padding: 2.31rem;
    align-items: flex-start;
  }
  .main__headline--introduction {
    font-size: 1.25rem;
  }
  .main__headline--title {
    text-align: left;
  }
  .main__headline--button {
    align-self: center;
  }

  .main__skills--description {
    width: 70%;
  }
}
@media only screen and (max-width: 480px) {
  .main__logos {
    width: 90%;
    gap: 3.75rem;
  }

  .main__headline {
    width: 100%;
  }
}