@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Navigation Bar Styling */
.nav_bar {
  padding: 40px 154px;
  background-color: white;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_bar .nav_bar_name {
  font-size: 20px;
}
.nav_bar .nav_bar_name .nav_bar_last_name {
  font-weight: bold;
}
.nav_bar .nav_bar_links {
  width: 40%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_bar .nav_bar_links a {
  text-decoration: none;
  font-size: 18px;
  color: #8C9CB1;
}
.nav_bar .nav_bar_links .nav_bar_button {
  font-size: 16px;
  font-weight: bold;
  width: 145px;
  height: 45px;
  left: 1429px;
  top: 47px;
  background: #BAE8E8;
  border: 1px solid #272643;
  border-radius: 10px;
}

/* Main Text Styling */
.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 96px;
}
.main_content .main_content_description {
  width: 95%;
  height: 862px;
  background-color: #F7FAFA;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_content .main_content_description .main_content_description_introduction {
  color: #8C9CB1;
  font-size: 32px;
}
.main_content .main_content_description .main_content_description_title {
  color: #272643;
  font-size: 80px;
  width: 1108px;
  height: 192px;
  text-align: center;
}
.main_content .main_content_description .main_content_description_button {
  background: #A3E1DE;
  border: none;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.74);
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
  width: 321px;
  height: 78px;
  left: 699px;
  top: 690px;
}
.main_content .main_content_skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: 146px;
}
.main_content .main_content_skills .main_cotent_skills_headline {
  font-size: 32px;
  background-image: linear-gradient(181deg, #A3E1DE 0%, #A3E1DE 50%, transparent 54%, transparent 100%);
  background-size: 100% 35%;
  background-repeat: repeat-x;
  background-position: left 0% bottom 0%;
}
.main_content .main_content_skills .main_content_skills_description {
  color: #8C9CB1;
  font-size: 16px;
  width: 484px;
  height: 52px;
  text-align: center;
  line-height: 160%;
  font-weight: 400;
}
.main_content .main_content_skills .main_content_logos {
  width: 75%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.main_content .main_content_skills .main_content_logos .main_content_logos-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}